<div class="main">
  <div class="row f-center vertical-double-inner">
    <h1> Hello <%= @manager.name %> hope your day is good so far </h1>
  </div>

  <div class="row">
    <h2 class="vertical-double-inner"> Here is a list of your staff members you manage </h2>
    <% @staff.each do |s| %>
    <div class="row vertical-inner"> 
      <div class="unit col3of5"><%= s.name %></div>
      <div class="unit col1of10 inner">
        <%= link_to 'Edit', {controller: 'staff_members', :action => "edit", :id => s.id}%>
      </div>
      <div class="unit col1of10 inner">
        <%= link_to 'Delete', {controller: 'staff_members', :id => s.id}, method: :delete%>
      </div>
    </div>
    <% end %>

    <div class="row">
      <h2> Create new staff member </h2>
      <%= render 'staff_members/form' %>
    </div>
  </div>

</div>