<%= form_for(@staff_member) do |f| %>
<div class="row">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="row">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="row">
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</div>

<%= link_to 'New', {:controller => "staff_members", :action => "create", :manager_id => @manager.id}%>

<% end %>